.container{
	box-sizing: border-box;
	padding: 0 3rem;
	width: 1000px;
	max-width: 100%;

	margin: 80px auto;
}
.container section{
	margin: 3rem 0;
	border-bottom: 1px solid var(--shadow);
	padding: .5rem 0;
}
.container h2{
	font-size: 1.3rem;
}

/* Logged out view */
.becomeAdmin{
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.becomeAdmin .error{
	color: var(--red);
	width: 100%;
	margin-top: 20px;
}
.disclaimer{
	font-size: .9rem;
}

/* Logged in view */
.loggedIn{
	padding-bottom: 400px;
}
.divider{
	margin: 100px 0;
}