.container{
	box-sizing: border-box;
	max-width: 800px;
	width: 100%;
	margin: 2rem auto;
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.tenders{
	display: inherit;
	flex-direction: inherit;
	align-items: inherit;
}
.info{
	margin-bottom: 45px;
}
.error{
	text-align: center;
}