.header{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 2rem 3rem .5rem;
}
.header nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.home{
	display: block;
}
.link{
	display: none;
}
.link a{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.link .text{
	margin-left: 5px;
	color: var(--grey);
}


@media only screen and (min-width: 800px){
	.header nav{
		justify-content: space-between;
	}
	.link{
		display: block;
	}
}