.header{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 1rem 0;
}
.disabled{
	opacity: .5;
	cursor: default;
	
}
.header nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.home{
	display: block;
}
.link{
	display: none;
	width: 210px;
}
.link a{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.link .text{
	margin-left: 5px;
	color: var(--grey);
}
.googleLogin{
	position: relative;
}


@media only screen and (min-width: 800px){
	.header{
		padding: 2rem 0 .5rem;
	}
	.header nav{
		justify-content: space-between;
	}
	.link{
		display: flex;
	}
	.link:first-child{
		justify-content: flex-start;
	}
	.link:last-child{
		justify-content: flex-end;
	}
}