.result{
	width: 100%;
	max-width: 600px;
	padding: 1rem;
	position: relative;

	box-shadow: 0 3px 10px var(--shadow);
	margin-bottom: 1.5rem;

	display: flex;
	flex-direction: column;
}
.save{
	position: absolute;
	right: 1rem;

	opacity: .5;
}
.nameAndLocation{
	display: flex;
	flex-direction: column;

	padding-right: 40px;
}
.name{
	font-size: 1rem;
}
.location{
	display: flex;
	align-items: center;

	margin-top: .2rem;
}
.location .text{
	font-size: .8rem;
	line-height: .8rem;
	color: var(--grey);
	margin-left: 5px;
}
.description{
	color: #333;
	line-height: 1.05rem;
	margin: 1rem 0 1.5rem;
}
.meta{
	padding: 0;
	border-top: 1px solid var(--shadow);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.metaInfo{
	flex-basis: 50%;
	margin-top: 1rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.metaInfo .label{
	flex-basis: 100%;
	color: var(--grey);
	font-size: .8rem;
	line-height: .8rem;
}
.metaInfo .value{
	font-size: .9rem;
	color: #333;
	flex-basis: 60%;
	flex-shrink: 2;
}
