.result{
	width: 100%;
	max-width: 600px;
	padding: 1rem 1rem 1rem;
	position: relative;

	box-shadow: 0 3px 10px var(--shadow);
	margin-bottom: 3rem;

	display: flex;
	flex-direction: column;
}
.highlight{
	font-weight: bold;
}
.save{
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	right: 1rem;
	background: none;
	border: none;
	appearance: none;
	cursor: pointer;

	font-size: .8rem;
	color: var(--primary);
}
.saveIcon{
	width: 44px;
	height: 44px;
}
.isSaved{
	opacity: .5;
}
.close{
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	font-size: .9rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--red);
}

.nameAndLocation{
	display: flex;
	flex-direction: column;

	padding-right: 40px;
}
.name{
	font-size: 1rem;
}
.location{
	display: flex;
	align-items: center;

	margin-top: .2rem;
}
.location .text{
	font-size: .8rem;
	line-height: .8rem;
	color: var(--grey);
	margin-left: 5px;
}
.description{
	color: #333;
	line-height: 1.05rem;
	margin: 1rem 0 1.5rem;
}
.meta{
	padding: 1rem 0;
	border: 1px solid var(--shadow);
	border-radius: 3px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.metaInfo{
	flex-basis: 25%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	text-align: center;
	justify-content: center;
}
.metaInfo .label{
	flex-basis: 100%;
	color: var(--grey);
	font-size: .8rem;
	line-height: .8rem;
}
.metaInfo .value{
	margin-top: 3px;
	font-weight: 600;
	font-size: .9rem;
	color: #000;
	flex-shrink: 2;
}

.website{
	box-sizing: border-box;
	background: var(--accent);
	border: none;
	box-shadow: none;
	outline: none;

	display: inline-block;
	padding: .7rem 2rem;
	color: var(--secondary);
	border-radius: 5px;

	width: 50%;
	min-width: 200px;
	max-width: 250px;
	margin: auto;

	font-size: 1rem;

	transform: translateY(35px);
	cursor: pointer;

	text-align: center;
}
.website:hover{
	color: var(--secondary);
}
.website .text{
	margin-right: 10px;
	vertical-align: middle;
}
.website .icon{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
